<p-toolbar>

    <div class="p-toolbar-group-start">
        <img src="assets/survival_game.png">
        <h2>AirsoftTools</h2>
    </div>

    <div class="p-toolbar-group-end">
        <p-button [link]="true" routerLink="/todo">TODO</p-button>
        <p-button [link]="true" routerLink="/calendar">Calendar</p-button>
        <p-button [link]="true" routerLink="/equipment">Equipment</p-button>
        <p-button [link]="true" routerLink="/map">Map</p-button>
        <p-button [link]="true" routerLink="/settings">Settings</p-button>
    </div>
    
</p-toolbar>